*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#f3f4f6;

    font-family:Arial, Helvetica, sans-serif;

}

.app{

    width:700px;

    margin:40px auto;

    background:white;

    padding:30px;

    border-radius:12px;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

}

h1{

    margin-bottom:10px;

}

p{

    margin-bottom:25px;

    color:gray;

}

textarea{

    width:100%;

    padding:15px;

    resize:none;

    font-size:16px;

}

button{

    margin-top:20px;

    padding:12px 30px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

}

button:hover{

    background:#1d4ed8;

}